.apexcharts-legend-series {
  gap: 8px;
}

/* @override - margin bottom depends on marker size in tooltip */
.apexcharts-tooltip-marker {
  margin-bottom: 2px !important;
}

.apexcharts-tooltip-series-group.apexcharts-active,
.apexcharts-tooltip-series-group:last-child {
  padding-bottom: 0 !important;
}

.apexcharts-menu-icon svg,
.apexcharts-reset-icon svg,
.apexcharts-zoom-icon svg,
.apexcharts-zoomin-icon svg,
.apexcharts-zoomout-icon svg {
  fill: var(--palette-text-secondary) !important;
}

.apexcharts-pan-icon svg {
  stroke: var(--palette-text-secondary) !important;
  fill: transparent !important;
}

.apexcharts-zoom-icon.apexcharts-selected svg {
  fill: var(--palette-primary-main) !important;
}

.apexcharts-pan-icon.apexcharts-selected svg {
  stroke: var(--palette-primary-main) !important;
}

.apexcharts-toolbar .apexcharts-pan-icon:hover:not(.apexcharts-selected) svg {
  stroke: var(--palette-grey-600) !important;
}

.apexcharts-toolbar div:hover:not(.apexcharts-selected):not(.apexcharts-pan-icon) svg {
  fill: var(--palette-grey-600) !important;
}

/* Dark mode styles */
html[data-color-scheme='dark'] {
  .apexcharts-menu {
    background-color: var(--palette-background-default);
    border-color: var(--palette-grey-200);
  }

  .apexcharts-menu-item:hover {
    background-color: var(--palette-divider);
  }
}