spring:
  application:
    name: tba-waad-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/tba_waad
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
server:
  port: 8080
  error:
    include-message: always
    include-stacktrace: on_param

jwt:
  secret: ${JWT_SECRET:VGhpcy1pcy1hLUJhc2U2NC1leGFtcGxlLXNlY3JldC0uLi4=}
  expiration: 86400000

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha

logging:
  level:
    com.waad.tba: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
