spring:
  application:
    name: tba-waad-system-backend
  datasource:
    datasource:
      url: jdbc:postgresql://localhost:5432/tba_waad
      username: postgres
      password: 12345
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
  mail:
    host: smtp.hostinger.com
    port: 587
    username: support@alwahacare.com
    password: 6L8~nz@Go
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            trust: smtp.hostinger.com
  
server:
  port: 9092
  error:
    include-message: always
    include-stacktrace: on_param

jwt:
  secret: ${JWT_SECRET:VGhpcy1pcy1hLUJhc2U2NC1leGFtcGxlLXNlY3JldC0uLi4=}
  expiration: 86400000

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    enabled: true
    operations-sorter: method
    tags-sorter: alpha

logging:
  level:
    com.waad.tba: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
